<navbar></navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="d-flex align-items-stretch">
      <div id="sidebar" class="sidebar py-3">
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
        <ul class="sidebar-menu list-unstyled">
              <li class="sidebar-list-item"><a routerLink="/admin-paper" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>Paper Presentation</span></a></li>
              <div class="line"></div>
              <li class="sidebar-list-item"><a routerLink="/admin-higher-studies" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>Higher Education</span></a></li>
              <div class="line"></div>
              <li class="sidebar-list-item"><a (click)="logout()" class="sidebar-link text-muted" style="cursor: pointer;"><i class="o-exit-1 mr-3 text-gray"></i><span>Logout</span></a></li>
              <div class="line"></div>
        </ul>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header" style="text-align: center;">
                    <h3 class="h6 text-uppercase mb-0">EMAIL APPLICANTS</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" method="POST" #emailForm="ngForm">
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Email Address</label>
                        <div class="col-md-6">
                          <input class="validate" #email="ngModel" [(ngModel)]="input.email" name= "email" type="email" placeholder="Email Address" class="form-control" readonly>                     
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Subject</label>
                        <div class="col-md-6">
                          <input class="validate" #subject="ngModel" [(ngModel)]="input.subject" type="text" name="subject" placeholder="Subject" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="subject.touched && !subject.valid">Subject is required!</div>                        
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Message</label>
                        <div class="col-md-6">
                          <textarea class="validate" #message="ngModel" [(ngModel)]="input.message" name="message" rows="8" placeholder="Message" class="form-control" required></textarea>
                         <div class="alert alert-danger" *ngIf="message.touched && !message.valid">Message is required!</div>                        
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>                        
                      <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>                        
                      <div class="form-group row">
                        <div class="col-md-12" style="text-align: center;">
                         <button (click)="sendEmail()" type="submit" class="btn btn-primary shadow" [disabled]="!emailForm.valid">Email Applicant</button>
                        </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>