<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="form-group row" id="mybackClass">
          <a (click)="Back()">Back</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <!--  First Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Applicant Background</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">What is your status?</label>
                        <div class="col-md-8">
                          <input class="validate" value="{{formData?.status}}" name="name" type="text" placeholder="Full Name" class="form-control" readonly>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <!--  Second Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Applicant Profile</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Name</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.name}}" name="name" type="text" placeholder="Full Name" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">CNIC/Passport</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.cnic}}" name="cnic" type="text" placeholder="CNIC/Passport Number" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Highest Qualification</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.highest_qualification}}" name="name" type="text" placeholder="Full Name" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Designation</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.designation}}" name="designation" type="text" placeholder="Designation" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Department/Institute</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.department}}" name="department" type="text" placeholder="Department/Institute" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">University/DAI</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.university}}" name="university" type="text" placeholder="University/DAI" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>


                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Correspondence Address</label>
                        <div class="col-md-6">
                          <input class="validate" value="{{formData?.address}}" name="address" type="text" placeholder="Correspondence Address" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Cellphone Number</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.cellphone}}" name="cellnum" type="text" placeholder="Cellphone Number" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Email Address</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.email}}" name="email" type="email" placeholder="Email Address" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <!--  Third Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Details of Conference / Seminar / Workshop</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Title of the event</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.event_type}}" name="eventtitle" type="text" placeholder="Title of the event" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Event Starting Date</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.event_starting_date}}" name="startdate" type="date" placeholder="Event Starting Date" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Event Ending Date</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.event_ending_date}}" name="enddate" type="date" placeholder="Event Ending Date" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Venue (City & Country)</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.venue}}" name="venue" type="text" placeholder="Venue (City & Country)" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Organizer of the Event</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.organizer}}" name="organizer" type="text" placeholder="Organizer of the Event" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Website Address of the Event</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.website_address}}" name="eventweb" type="text" placeholder="Website Address of the Event" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">What type of event it it?</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.event_type}}" name="name" type="text" placeholder="Full Name" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <!--  Fourth Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Details of the paper</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Title of the Research Paper / Talk</label>
                        <div class="col-md-6">
                          <input class="validate" value="{{formData?.research_title}}" name="researchtitle" type="text" placeholder="Title of the Research Paper / Talk" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">What has been done to the paper?</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.paper_status}}" name="name" type="text" placeholder="Full Name" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Mode of Presentation?</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.presentation_mode}}" name="name" type="text" placeholder="Full Name" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Has the abstract/paper been reviewed by the technical reviewers?</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.paper_review}}" name="paper_review" type="text" placeholder="Full Name" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Will the abstract/paper be published in Book of Abstracts/Proceedings/Journals of Conference etc.?</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.paper_publish}}" name="name" type="text" placeholder="Full Name" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Fifth Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">FINANCIAL ASSISTANCE PROVIDED BY EVENT ORGANIZERS OR OTHER SPONSORS</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Travel Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.travel_cost}}" name="travelcost" type="text" placeholder="Travel Cost (Rupees)" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Travel Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.travel_sponsor}}" name="travelsponsor" type="text" placeholder="Travel Sponsor" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Registration Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.registration_cost}}" name="registrationcost" type="text" placeholder="Registration Cost (Rupees)" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Registration Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.registration_sponsor}}" name="registrationsponsor" type="text" placeholder="Registration Sponsor" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Accommodation Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.accommodation_cost}}" name="accommodationcost" type="text" placeholder="Accommodation Cost (Rupees)" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Accommodation Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.accommodation_sponsor}}" name="accommodationsponsor" type="text" placeholder="Accommodation Sponsor" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Daily Allowance Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.daily_allowance_cost}}" name="allowancecost" type="text" placeholder="Daily Allowance Cost (Rupees)" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Daily Allowance Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.daily_allowance_sponsor}}" name="allowancesponsor" type="text" placeholder="Daily Allowance Sponsor" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Sixth Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">FINANCIAL ASSISTANCE REQUESTED FROM HEC</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Travel Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.hec_travel_cost}}" name="travelcost" type="text" placeholder="Travel Cost (Rupees)" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Registration Fee (Rupees)</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.hec_registration_fee}}" name="registrationfee" type="text" placeholder="Registration Fee (Rupees)" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Accommodation Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.hec_accommodation}}" name="accommodation" type="text" placeholder="Accommodation Cost (Rupees)" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Dail Allowance (Rupees)</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.hec_allowance}}" name="allowance" type="text" placeholder="Dail Allowance (Rupees)" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Seventh Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">DETAILS OF PREVIOUSLY AVAILED TRAVEL GRANTS FROM HEC OR OTHERS</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-4 form-control-label">Have you ever been awarded any travel grant from HEC or any other?</label>                                          
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.scholarship_details}}" name="scholarship_details" type="text" placeholder="Full Name" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row" *ngIf="hideDetails==true">
                        <label class="col-md-2 form-control-label">Travel Grant details from where did you got?</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.travel_grant_details}}" name="grantdetail" type="textarea" placeholder="Travel Grant details" class="form-control" readonly>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <div class="form-group row">
                    <div class="col-md-12" style="text-align: center;">
                      <button (click)="onSubmit(formData)" type="submit" class="btn btn-primary shadow" style="float: right;">NEXT</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
