<nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
    <h4 class="navbar-brand font-weight-bold text-uppercase text-base">Higher Education Commission, Pakistan</h4>
      <img src="assets/img/logo.png">
</nav>