<html>
<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <!--<div class="card-header" style="text-align: center;">
                    <h3 class="h6 text-uppercase mb-0">SIGNUP FORM</h3>
                  </div>-->
                  <div class="card-body">
                    <b><h3 class="h6 text-uppercase mb-0" style="text-align: center;">WELCOME TO HEC TRAVEL GRANT PORTAL</h3></b>
                    <div class="line"></div>
                    <p style="text-align: center;">Please select which travel grant you want in order to proceed?</p>
                    <div class="line"></div>
                      <div class="form-group row" style="text-align: center;">
                        <div class="col-md-6">
                            <a routerLink="/paper-presenting-form"><button type="submit" class="btn btn-primary shadow">Presenting Paper</button></a>
                        </div>
                        <div class="col-md-6">
                           <a routerLink="/higher-studies-form"> <button type="submit" class="btn btn-primary shadow">Higher Studies</button></a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>
</html>