<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">

                <!--  First Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">To proceed for Ph.D.</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-6 form-control-label">Unconditional admission letter from Foreign University offering you admission in Ph.D.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'admission_letter')" name="admissionletter" type="file" class="form-control" required>
                        </div>
                      </div>
                  <div class="line"></div>                      
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of your award letter for scholarship or financial assistance or affidavit about self-finance.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'award_letter')" name="presentationmode" type="file" class="form-control" required>
                        </div>
                      </div>
                  <div class="line"></div>                     
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of your highest Degree duly attested by HEC.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'attested_degree')" name="evidence" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Brief CV (2-3 pages).</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'cv')" name="evidencepublish" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Quotation from the travel agent indicating the shortest route.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'travel_agent')" name="eventbrochure" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div>  
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Proof of the Surety bond of Rs.100/- by two guarantors to be purchased in the name of guarantor(s).</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'surety_bond')" name="fulltextpaper" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Surety Bond attested by the Oath Commissioner and countersigned by First Class Magistrate.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'attested_surety_bond')" name="co-aurthornoc" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of CNIC of Guarantee</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'guarantee_cnic')" name="agentquotation" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of study leave from your employer (required from applicant employed in any organization).</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'study_leave')" name="study_leave" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of No Objection Certificate (NOC) from your employer (required from applicants employed in any organization).</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'objection_certificate')" name="cv" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed and stamped by the Head of Department in Section No. 6 (required from applicant employed in any organization).</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'hod_form')" name="cv" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed and stamped by the Rector/Vice-Chancellor of your university in Section No. 7 (required from applicant employed in any organization).</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'rector_form')" name="cv" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div>                                                                                                                                                                                                                                                   
                    </form>
                  </div>
                </div>
                <div class="line"></div>

  
           
                <div class="form-group row">
                    <div class="col-md-12" style="text-align: center;">
                      <button (click)="onSubmit()" type="submit" class="btn btn-primary shadow">SUBMIT AND APPLY</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
