/* your styles go here */
.alert[_ngcontent-c1]{
    height: 42px;
    width: 292px;
    margin-top: 1px;
    margin-left: 30px;
}

#myRadiobutton{
    margin-left: 8px;
}

#myheader{
    left: 45%;
}

.likeabutton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; 
    color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: "ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight";
}
.likeabutton:active {
    border-color: "ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow";
}
#myHead{
    letter-spacing: 0em;
}