<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="form-group row" id="mybackClass">
          <a (click)="Back()">Back</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row"> 
              <div class="col-lg-12 mb-5">
                <!--  First Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Applicant's Profile</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Name</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.name}}" name="name" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">CNIC</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.cnic}}" name="cnic" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Highest Qualification</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.highest_qualification}}" name="qualification" class="form-control" readonly>
                        </div>
                        
                        <label class="col-md-2 form-control-label">Designation</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.designation}}" name="designation" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Department/Institute</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.department}}" name="department" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">University/DAI</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.university}}" name="university" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>


                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Correspondence Address</label>
                        <div class="col-md-6">
                          <input class="validate" value="{{formData?.address}}" name="address" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Cellphone Number</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.cellphone}}" name="cellnum" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Email Address</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.email}}" name="email" type="email" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <!--  Second Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Details of Program</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Purpose of Travel</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.travel_purpose}}" name="address" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Name of the Foreign Country</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.country_name}}" name="foreigncountry" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Name of the Host University</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.university_name}}" name="eventweb" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Name of the Host Department</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.department_name}}" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Name of Program/Award</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.program_name}}" name="programname" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>


                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Title of Research</label>
                        <div class="col-md-6">
                          <input class="validate" value="{{formData?.research_title}}" name="researchtitle" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>                      

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Date of Registration</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.registration_date}}" name="registrationdate" type="date" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Intended Date of Joining</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.joining_date}}" name="joiningdate" type="date" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Duration of Stay Abroad</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.stay_duration}}" name="stayduration" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Tentative Date of Return</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.return_date}}" name="returndate" type="date" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>                  
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Third Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">FINANCIAL ASSISTANCE PROVIDED BY EVENT ORGANIZERS OR OTHER SPONSORS</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Travel Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.travel_cost}}" name="travelcost" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Travel Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.travel_sponsor}}" name="travelsponsor" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Tuition Fee/Bench Fee (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.tuition_fee}}" name="tuitionfee" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Tuition Fee/Bench Fee Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.tuition_fee_sponsor}}" name="tuitionfeesponsor" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Accommodation Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.accommodation_cost}}" name="accommodationcost" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Accommodation Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.accommodation_sponsor}}" name="accommodationsponsor" type="text" class="form-control" readonly>
                        </div>  
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Any Other (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.other_cost}}" name="othercost" type="text" class="form-control" readonly>
                        </div>
                        <label class="col-md-2 form-control-label">Any Other Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" value="{{formData?.other_cost_sponsor}}" name="othercostsponsor" type="text" class="form-control" readonly>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Fourth Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">FINANCIAL ASSISTANCE REQUESTED FROM Higher Education Commission</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Travel Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" value="{{formData?.hec_travel_cost}}" name="travelcost" type="text" class="form-control" readonly>
                        </div>
                        
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <div class="form-group row">
                    <div class="col-md-12"  style="text-align: center;">
                      <button (click)="onSubmit(formData)" type="submit" class="btn btn-primary shadow" style="float: right;">NEXT</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
