<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <!--  First Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">Applicant's Profile</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" #profileForm="ngForm">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Name</label>
                        <div class="col-md-4">
                          <input class="validate" #name="ngModel" [(ngModel)]="input.name" name="name" type="text" placeholder="Full Name" class="form-control" [pattern]="namepattern" required>
                          <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Full Name is required!</div>                         
                        </div>
                        <label class="col-md-2 form-control-label">CNIC</label>
                        <div class="col-md-4">
                          <input class="validate" #cnic="ngModel" [(ngModel)]="input.cnic" name="cnic" type="text" placeholder="CNIC (XXXXX-XXXXXXX-X)" class="form-control" [pattern]="cnicpattern" required>
                         <div class="alert alert-danger" *ngIf="cnic.touched && !cnic.valid">CNIC number is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Highest Qualification</label>
                        <div class="col-md-4 select mb-3">
                          <select #qualification="ngModel" [(ngModel)]="input.highest_qualification" name="qualification" class="form-control">
                            <option>Matric</option>
                            <option>Bachelors</option>
                            <option>Post Graduate</option>
                          </select>
                        </div>
                        <label class="col-md-2 form-control-label">Designation</label>
                        <div class="col-md-4">
                          <input class="validate" #designation="ngModel" [(ngModel)]="input.designation" name="designation" type="text" placeholder="Designation" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="designation.touched && !designation.valid">Designation is required!</div>                        
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Department/Institute</label>
                        <div class="col-md-4">
                          <input class="validate" #department="ngModel" [(ngModel)]="input.department" name="department" type="text" placeholder="Department/Institute" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="department.touched && !department.valid">Department is required!</div>                        
                        </div>
                        <label class="col-md-2 form-control-label">University/DAI</label>
                        <div class="col-md-4">
                          <input class="validate" #university="ngModel" [(ngModel)]="input.university" name="university" type="text" placeholder="University/DAI" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="university.touched && !university.valid">University is required!</div>                        
                        </div>
                      </div>
                      <div class="line"></div>


                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Correspondence Address</label>
                        <div class="col-md-6">
                          <input class="validate" #address="ngModel" [(ngModel)]="input.address" name="address" type="text" placeholder="Correspondence Address" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="address.touched && !address.valid">Address is required!</div>                       
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Cellphone Number</label>
                        <div class="col-md-4">
                          <input class="validate" #cellnum="ngModel" [(ngModel)]="input.cellphone" name="cellnum" type="text" placeholder="Cellphone Number (XXXX-XXXXXXX)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="cellnum.touched && !cellnum.valid">Cell Number is required!</div>                        
                        </div>
                        <label class="col-md-2 form-control-label">Email Address</label>
                        <div class="col-md-4">
                          <input class="validate" #email="ngModel" [(ngModel)]="input.email" name="email" type="email" placeholder="Email Address" class="form-control" [pattern]="emailpattern" required>
                         <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email is required!</div>                       
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <!--  Second Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">Details of Program</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" #detailsForm="ngForm">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Purpose of Travel</label>
                        <div>
                          <input id="optionsRadios1" type="radio" #travelpurpose="ngModel" [(ngModel)]="input.travel_purpose" value="Application for Ph.D." name="option1" style="margin-left: 25px;"> 
                          <label for="optionsRadios1" id="myRadiobutton">Application for Ph.D.</label>
                          <input id="optionsRadios2" #travelpurpose="ngModel" [(ngModel)]="input.travel_purpose" type="radio" value="Application for Post-Doctorate" name="option2" style="margin-left: 25px;">
                          <label for="optionsRadios2" id="myRadiobutton">Application for Post-Doctorate</label>                        
                        </div>  
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Name of the Foreign Country</label>
                        <div class="col-md-4">
                          <input class="validate" #foreigncountry="ngModel" [(ngModel)]="input.country_name" name="foreigncountry" type="text" placeholder="Foreign Country Name" class="form-control" required>
                         <div class="alert alert-danger" *ngIf="foreigncountry.touched && !foreigncountry.valid">Country Name is required!</div>
                        </div>
                        <label class="col-md-2 form-control-label">Name of the Host University</label>
                        <div class="col-md-4">
                          <input class="validate" #hostname="ngModel" [(ngModel)]="input.university_name" name="eventweb" type="text" placeholder="Host University Name" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="hostname.touched && !hostname.valid">Host University Name is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Name of the Host Department</label>
                        <div class="col-md-4">
                          <input class="validate" #hostdepartment="ngModel" [(ngModel)]="input.department_name" name="hostdepartment" type="text" placeholder="Host Department Name" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="hostdepartment.touched && !hostdepartment.valid">Department Name is required!</div>                       
                        </div>
                        <label class="col-md-2 form-control-label">Name of Program/Award</label>
                        <div class="col-md-4">
                          <input class="validate" #programname="ngModel" [(ngModel)]="input.program_name" name="programname" type="text" placeholder="Program Name" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="programname.touched && !programname.valid">Program Name is required!</div>                       
                        </div>
                      </div>
                      <div class="line"></div>


                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Title of Research</label>
                        <div class="col-md-6">
                          <input class="validate" #researchtitle="ngModel" [(ngModel)]="input.research_title" name="researchtitle" type="text" placeholder="Research Title" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="researchtitle.touched && !researchtitle.valid">Research Title required!</div>
                        </div>
                      </div>
                      <div class="line"></div>                      

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Date of Registration</label>
                        <div class="col-md-4">
                          <input class="validate" #registrationdate="ngModel" [(ngModel)]="input.registration_date" name="registrationdate" type="date" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="registrationdate.touched && !registrationdate.valid">Registration Date required!</div>                       
                        </div>
                        <label class="col-md-2 form-control-label">Intended Date of Joining</label>
                        <div class="col-md-4">
                          <input class="validate" #joiningdate="ngModel" [(ngModel)]="input.joining_date" name="joiningdate" type="date" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="joiningdate.touched && !joiningdate.valid">Joining Date required!</div>                                               
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Duration of Stay Abroad</label>
                        <div class="col-md-4">
                          <input class="validate" #stayduration="ngModel" [(ngModel)]="input.stay_duration" name="stayduration" type="text" placeholder="Duration of Stay Abroad" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="stayduration.touched && !stayduration.valid">Stay Duration required!</div>                                                                       
                        </div>
                        <label class="col-md-2 form-control-label">Tentative Date of Return</label>
                        <div class="col-md-4">
                          <input class="validate" #returndate="ngModel" [(ngModel)]="input.return_date" name="returndate" type="date" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="returndate.touched && !returndate.valid">Return Date required!</div>                                                                                               
                        </div>
                      </div>
                      <div class="line"></div>                  
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Third Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">FINANCIAL ASSISTANCE PROVIDED BY EVENT ORGANIZERS OR OTHER SPONSORS</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" #assistanceForm="ngForm">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Travel Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #travelcost="ngModel" [(ngModel)]="input.travel_cost" name="travelcost" type="text" placeholder="Travel Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="travelcost.touched && !travelcost.valid">Travel Cost required!</div>                                                                                               
                        </div>
                        <label class="col-md-2 form-control-label">Travel Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" #travelsponsor="ngModel" [(ngModel)]="input.travel_sponsor" name="travelsponsor" type="text" placeholder="Travel Sponsor" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="travelsponsor.touched && !travelsponsor.valid">Travel Sponsor required!</div>                                                                                               
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Tuition Fee/Bench Fee (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #tuitionfee="ngModel" [(ngModel)]="input.tuition_fee" name="tuitionfee" type="text" placeholder="Tuition Fee/Bench Fee (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="tuitionfee.touched && !tuitionfee.valid">Tuition Fee required!</div>                                                                                               
                        </div>
                        <label class="col-md-2 form-control-label">Tuition Fee/Bench Fee Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" #tuitionfeesponsor="ngModel" [(ngModel)]="input.tuition_fee_sponsor" name="tuitionfeesponsor" type="text" placeholder="Tuition Fee/Bench Fee Sponsor" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="tuitionfeesponsor.touched && !tuitionfeesponsor.valid">Tuition Fee required!</div>                                                                                                                       
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Accommodation Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #accommodationcost="ngModel" [(ngModel)]="input.accommodation_cost" name="accommodationcost" type="text" placeholder="Accommodation Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="accommodationcost.touched && !accommodationcost.valid">Accommodation Cost required!</div>                                                                 
                        </div>
                        <label class="col-md-2 form-control-label">Accommodation Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" #accommodationsponsor="ngModel" [(ngModel)]="input.accommodation_sponsor" name="accommodationsponsor" type="text" placeholder="Accommodation Sponsor" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="accommodationsponsor.touched && !accommodationsponsor.valid">Accommodation Sponsor required!</div>                                                                                         
                        </div>  
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Any Other (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #othercost="ngModel" [(ngModel)]="input.other_cost" name="othercost" type="text" placeholder="Any Other Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="othercost.touched && !othercost.valid">Other Cost required!</div>                                                                                                                 
                        </div>
                        <label class="col-md-2 form-control-label">Any Other Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" #othercostsponsor="ngModel" [(ngModel)]="input.other_cost_sponsor" name="othercostsponsor" type="text" placeholder="Any Other Sponsor" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="othercostsponsor.touched && !othercostsponsor.valid">Other Cost Sponsor required!</div>                                                                                                                                         
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Fourth Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">FINANCIAL ASSISTANCE REQUESTED FROM Higher Education Commission</h3>
                  </div> 
                  <div class="card-body">
                    <form class="form-horizontal" #financialForm="ngForm">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Travel Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #travelcost="ngModel" [(ngModel)]="input.hec_travel_cost" name="travelcost" type="text" placeholder="Travel Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="travelcost.touched && !travelcost.valid">Travel Cost required!</div>                                                                                                                                                                 
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <div class="form-group row">
                    <div class="col-md-12" style="text-align: center;">
                      <button (click)="onSubmit()" type="submit" [disabled]="!financialForm.valid" class="btn btn-primary shadow">SUBMIT AND CONTINUE</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
