<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Post-Doctorate documents list</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-6 form-control-label">Letter of placement in an accredited foreign university?</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.placement_letter}}" target="_blank">Download Link</a>
                        </div>
                      </div>
                  <div class="line"></div>                      
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Synopsis/ Brief description of your research proposal? </label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.research_description}}" target="_blank">Download Link</a>
                        </div>
                      </div>
                  <div class="line"></div>                     
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Brief CV (2-3 pages).</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.cv}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Quotation from the travel agent indicating the shortest route.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.agent_quotation}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div>  

                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of study leave from your university.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.study_leave}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of No Objection Certificate (NOC) from your university.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.no_objection}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 

                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed by the applicant in Section No. 6.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.application_sign}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed and stamped by the Head of Department in Section No. 6.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.application_stamped}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div>    
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed and stamped by the Rector/Vice-Chancellor of your university</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.stamped_vc}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div>                                                                                                                                                                                                                                              
                    </form>
                  </div>
                </div>
                <div class="line"></div>                
  
           
                <div class="form-group row">
                    <div class="col-md-12"  style="text-align: center;">
                      <button (click)="response()" type="submit" class="btn btn-primary shadow" style="float: right;">Send Response</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
