<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">

                <!--  First Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Ph.D. Documents List</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-6 form-control-label">Unconditional admission letter from Foreign University offering you admission in Ph.D.</label>
                        <div class="col-md-3">
                           <a class="likeabutton" href="{{formData?.admission_letter}}" target="_blank">Download Link</a>
                        </div>
                      </div>
                  <div class="line"></div>                      
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of your award letter for scholarship or financial assistance or affidavit about self-finance.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.award_letter}}" target="_blank">Download Link</a>
                        </div>
                      </div>
                  <div class="line"></div>                     
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of your highest Degree duly attested by HEC.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.attested_degree}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Brief CV (2-3 pages).</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.cv}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Quotation from the travel agent indicating the shortest route.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.travel_agent}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div>  
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Proof of the Surety bond of Rs.100/- by two guarantors to be purchased in the name of guarantor(s).</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.surety_bond}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Surety Bond attested by the Oath Commissioner and countersigned by First Class Magistrate.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.attested_surety_bond}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of CNIC of Guarantee</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.guarantee_cnic}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of study leave from your employer (required from applicant employed in any organization).</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.study_leave}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of No Objection Certificate (NOC) from your employer (required from applicants employed in any organization).</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.objection_certificate}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed and stamped by the Head of Department in Section No. 6 (required from applicant employed in any organization).</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.hod_form}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed and stamped by the Rector/Vice-Chancellor of your university in Section No. 7 (required from applicant employed in any organization).</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.rector_form}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div>                                                                                                                                                                                                                                                   
                    </form>
                  </div>
                </div>
                <div class="line"></div>
           
                <div class="form-group row">
                    <div class="col-md-12"  style="text-align: center;">
                      <button (click)="response()" type="submit" class="btn btn-primary shadow" style="float: right;">Send Response</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
