/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

input.ng-invalid.ng-dirty{
    border-bottom-color: #ff0000 !important;
    border-top-color: #ff0000 !important;
    border-left-color: #ff0000 !important;
    border-right-color: #ff0000 !important;
    box-shadow: 0px 1px 1px 1px #ff0000 !important;
}