<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">To proceed for Post-Doctorate</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-6 form-control-label">Letter of placement in an accredited foreign university?</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'placement_letter')" name="placement_letter" type="file" class="form-control" required>
                        </div>
                      </div>
                  <div class="line"></div>                      
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Synopsis/ Brief description of your research proposal? </label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'research_description')" name="research_description" type="file" class="form-control" required>
                        </div>
                      </div>
                  <div class="line"></div>                     
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Brief CV (2-3 pages).</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'cv')" name="cv" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Quotation from the travel agent indicating the shortest route.</label>
                        <div class="col-md-3">
                          <input class="validate"(change)="onFileSelected($event, 'agent_quotation')" name="agent_quotation" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div>  

                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of study leave from your university.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'study_leave')" name="study_leave" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Copy of No Objection Certificate (NOC) from your university.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'no_objection')" name="no_objection" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 

                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed by the applicant in Section No. 6.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'application_sign')" name="application_sign" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed and stamped by the Head of Department</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'application_stamped')" name="application_stamped" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div>  

                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Application form duly signed and stamped by the Rector/Vice-Chancellor of your university</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'stamped_vc')" name="application_stamped_vc" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div>                                                                                                                                                                                                                                                
                    </form>
                  </div>
                </div>
                <div class="line"></div>                
  
           
                <div class="form-group row">
                    <div class="col-md-12" style="text-align: center;">
                      <button (click)="onSubmit()" type="submit" class="btn btn-primary shadow">SUBMIT AND APPLY</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
