<navbar></navbar>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header" style="text-align: center;">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">SIGNUP FORM</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" #signupForm="ngForm">
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Email Address</label>
                        <div class="col-md-6">
                          <input class="validate" #email="ngModel" [(ngModel)]="register.email" name= "email" type="email" placeholder="Email Address" class="form-control" [pattern]="emailpattern" required>
                          <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email is required!</div>                        
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Username</label>
                        <div class="col-md-6">
                          <input class="validate" #username="ngModel" [(ngModel)]="register.username" name="username" type="text" placeholder="Username" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="username.touched && !username.valid">Name is required!</div>                        
                        </div> 
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Password</label>
                        <div class="col-md-6">
                          <input class="validate" #password="ngModel" [(ngModel)]="register.password" type="password" name="password" placeholder="Password" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is required!</div>                        
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Confirm Password</label>
                        <div class="col-md-6">
                          <input class="validate" appConfirmEqualValidator="password" #confirmpassword="ngModel" [(ngModel)]="register.confirmpassword" type="password" name="confirm" placeholder="Confirm Password" class="form-control" required>
                        <!-- <div class="alert alert-danger" *ngIf="confirmpassword.touched && !confirmpassword.valid">Confirm Password is required!</div>-->                        
                         <div class="alert alert-danger" *ngIf="confirmpassword.touched && !confirmpassword.notEqual && !confirmpassword.valid">Password and Confirm Password doesn't match</div>                        
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>                        
                      <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>                        
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label"><a routerLink="/login">Back to Login</a></label>
                        <div class="col-md-12" style="text-align: center;">
                         <button (click)="registerUser()" type="submit" class="btn btn-primary shadow" [disabled]="!signupForm.valid">SIGNUP</button>
                        </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>