  <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
    <h4 class="navbar-brand font-weight-bold text-uppercase text-base" id="myheader">Higher Education Commission, Pakistan</h4>
      <img src="assets/img/logo.png">
  </nav>

      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Form not submitted</h3>
                  </div>
                  <div class="card-body">
                    <p>Dear Student, <br>
                    Your form hasn't been submitted due to network error or You have already submitted the form before!</p>
                  </div>

                </div>
  
              </div>
            </div>
          </section>
      </div>
