<html>
<navbar></navbar>
  <body>
    <div class="page-holder d-flex align-items-center">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
            <div class="pr-lg-5"><img src="assets/img/illustration.svg" alt="" class="img-fluid"></div>
          </div>
          <div class="col-lg-5 px-lg-4">
            <h2 class="mb-4">Welcome to HEC Travel Grant Portal!</h2>
            <form id="loginForm" class="mt-4" #loginForm="ngForm">
              <div class="form-group mb-4">
                <input class="validate" #username="ngModel" [(ngModel)]="input.username" name="username" type="text" placeholder="User Name" class="form-control" required>
                <div class="alert alert-danger" *ngIf="username.touched && !username.valid">User Name is required!</div> 
              </div>
              <div class="form-group mb-4">
                <input class="validate" #password="ngModel" [(ngModel)]="input.password" type="password" name="password" placeholder="Password" class="form-control" required>
                 <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is required!</div>                        
              </div>
              <div class="form-group mb-4">
                <b>Don't have an Account? <a routerLink="/signup">SignUp</a></b>
              </div>
              <div class="form-group mb-4">
                <a (click)="resolve()">Forgot Password?</a>
              </div>
              <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
              <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
              <button (click)="loginUser()" type="submit" [disabled]="!loginForm.valid" class="btn btn-primary shadow px-5">Log in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>   