<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <!--  First Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">Applicant Background</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" #backgroundForm="ngForm">
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">What is your status?</label>
                        <div class="col-md-6 select mb-3">
                          <select #account="ngModel" [(ngModel)]="input.status" name="account" class="form-control">
                            <option>Faculty Member of HEC recognized University</option>
                            <option>Non-Teaching staff of HEC recognized University/degree awarding institution in public and private sector</option>
                            <option>MS/M.Phil leading to PhD or PhD scholars registered with accrediated local Universities</option>
                            <option>Pakistani PhD. scholar, studying abroad under HEC or any Government of Pakistan scholarship</option>
                          </select>
                        </div>
                        <div class="alert alert-danger" *ngIf="account.touched && !account.valid">Full Name is required!</div> 
                      </div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <!--  Second Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">Applicant Profile</h3>
                  </div>
                  <div class="card-body">
                    <form id="#applicantForm" class="form-horizontal" #applicantForm="ngForm">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Name</label>
                        <div class="col-md-4">
                          <input class="validate" #name="ngModel" [(ngModel)]="input.name" name="name" type="text" placeholder="Full Name" class="form-control" [pattern]="namepattern" required>
                          <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Full Name is required!</div> 
                        </div>
                        <label class="col-md-2 form-control-label">CNIC Number</label>
                        <div class="col-md-4">
                          <input class="validate" #cnic="ngModel" [(ngModel)]="input.cnic" name="cnic" type="text" placeholder="CNIC (XXXXX-XXXXXXX-X)" class="form-control" [pattern]="cnicpattern" required>
                          <div class="alert alert-danger" *ngIf="cnic.touched && !cnic.valid">CNIC number is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Highest Qualification</label>
                        <div class="col-md-4 select mb-3">
                          <select #qualification="ngModel" [(ngModel)]="input.highest_qualification" name="qualification" class="form-control">
                            <option>Matric</option>
                            <option>Bachelors</option>
                            <option>Post Graduate</option>
                          </select>
                        </div>
                        <label class="col-md-2 form-control-label">Designation</label>
                        <div class="col-md-4">
                          <input class="validate" #designation="ngModel" [(ngModel)]="input.designation" name="designation" type="text" placeholder="Designation" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="designation.touched && !designation.valid">Designation is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Department/Institute</label>
                        <div class="col-md-4">
                          <input class="validate" #department="ngModel" [(ngModel)]="input.department" name="department" type="text" placeholder="Department/Institute" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="department.touched && !department.valid">Department is required!</div>
                        </div>
                        <label class="col-md-2 form-control-label">University/DAI</label>
                        <div class="col-md-4">
                          <input class="validate" #university="ngModel" [(ngModel)]="input.university" name="university" type="text" placeholder="University/DAI" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="university.touched && !university.valid">University is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>


                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Correspondence Address</label>
                        <div class="col-md-6">
                          <input class="validate" #address="ngModel" [(ngModel)]="input.address" name="address" type="text" placeholder="Correspondence Address" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="address.touched && !address.valid">Address is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Cellphone Number</label>
                        <div class="col-md-4">
                          <input class="validate" #cellnum="ngModel" [(ngModel)]="input.cellphone" name="cellnum" type="text" placeholder="Cellphone Number(XXXX-XXXXXXX)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="cellnum.touched && !cellnum.valid">Cell Number is required!</div>
                        </div>
                        <label class="col-md-2 form-control-label">Email Address</label>
                        <div class="col-md-4">
                          <input class="validate" #email="ngModel" [(ngModel)]="input.email" name="email" type="email" placeholder="Email Address" class="form-control" [pattern]="emailpattern" required>
                         <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <!--  Third Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">Details of Conference / Seminar / Workshop</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" #conferenceDetails="ngForm">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Title of the event</label>
                        <div class="col-md-4">
                          <input class="validate" #eventtitle="ngModel" [(ngModel)]="input.event_title" name="eventtitle" type="text" placeholder="Title of the event" class="form-control" required>
                         <div class="alert alert-danger" *ngIf="eventtitle.touched && !eventtitle.valid">Event Title is required!</div>
                        </div>
                        <label class="col-md-2 form-control-label">Event Starting Date</label>
                        <div class="col-md-4">
                          <input class="validate" #startdate="ngModel" [(ngModel)]="input.event_starting_date" name="startdate" type="date" placeholder="Event Starting Date" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="startdate.touched && !startdate.valid">Starting Date is required!</div>                        
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Event Ending Date</label>
                        <div class="col-md-4">
                          <input class="validate" #enddate="ngModel" [(ngModel)]="input.event_ending_date" name="enddate" type="date" placeholder="Event Ending Date" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="enddate.touched && !enddate.valid">Ending Date is required!</div>
                          <div class="alert alert-danger" *ngIf="enddate<startdate">Ending Date Must be greater than Starting Date!</div>                                                
                        </div>
                        <label class="col-md-2 form-control-label">Venue (City & Country)</label>
                        <div class="col-md-4">
                          <input class="validate" #venue="ngModel" [(ngModel)]="input.venue" name="venue" type="text" placeholder="Venue (City & Country)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="venue.touched && !venue.valid">Event Venue is required!</div>                       
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Organizer of the Event</label>
                        <div class="col-md-4">
                          <input class="validate" #organizer="ngModel" [(ngModel)]="input.organizer" name="organizer" type="text" placeholder="Organizer of the Event" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="organizer.touched && !organizer.valid">Organizer Name is required!</div>                       
                        </div>
                        <label class="col-md-2 form-control-label">Website Address of the Event</label>
                        <div class="col-md-4">
                          <input class="validate" #eventweb="ngModel" [(ngModel)]="input.website_address" name="eventweb" type="text" placeholder="Website Address of the Event" class="form-control" [pattern]="urlpattern" required>
                          <div class="alert alert-danger" *ngIf="eventweb.touched && !eventweb.valid">Website Address is required!</div>                       
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">What type of event it it?</label>
                        <div>
                          <input id="optionsRadios1" type="radio" #eventtype="ngModel" [(ngModel)]="input.event_type" value="Conference" name="option1" style="margin-left: 25px;"> 
                          <label for="optionsRadios1" id="myRadiobutton">Conference</label>
                          <input id="optionsRadios2" #eventtype="ngModel" [(ngModel)]="input.event_type" type="radio" value="Workshop" name="option2" style="margin-left: 25px;">
                          <label for="optionsRadios2" id="myRadiobutton">Workshop</label>
                          <input id="optionsRadios3" #eventtype="ngModel" [(ngModel)]="input.event_type" type="radio" value="Symposiam" name="option3" style="margin-left: 25px;">
                          <label for="optionsRadios3" id="myRadiobutton">Symposiam</label>
                          <input id="optionsRadios4" #eventtype="ngModel" [(ngModel)]="input.event_type" type="radio" value="Seminar" name="option4" style="margin-left: 25px;">
                          <label for="optionsRadios4" id="myRadiobutton">Seminar</label>                          
                        </div>  
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <!--  Fourth Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">Details of the paper</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" #paperDetails="ngForm">
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Title of the Research Paper / Talk</label>
                        <div class="col-md-6">
                          <input class="validate" #researchtitle="ngModel" [(ngModel)]="input.research_title" name="researchtitle" type="text" placeholder="Title of the Research Paper / Talk" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="researchtitle.touched && !researchtitle.valid">Research Title is required!</div>                       
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">What has been done to the paper?</label>
                        <div>
                          <input id="optionsRadios1" type="radio" #paperstatus="ngModel" [(ngModel)]="input.paper_status" value="Peer-Review" name="option" style="margin-left: 25px;"> 
                          <label for="optionsRadios1" id="myRadiobutton">Peer-Review</label>
                          <input id="optionsRadios2" #paperstatus="ngModel" [(ngModel)]="input.paper_status" type="radio" value="Non-Peer Review" name="option" style="margin-left: 25px;">
                          <label for="optionsRadios2" id="myRadiobutton">Non-Peer Review</label>
                          <input id="optionsRadios3" #paperstatus="ngModel" [(ngModel)]="input.paper_status" type="radio" value="Invited Talk" name="option" style="margin-left: 25px;">
                          <label for="optionsRadios3" id="myRadiobutton">Invited Talk</label>
                        </div>  
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Mode of Presentation?</label>
                        <div>
                          <input id="optionsRadios1" type="radio" #presentationmode="ngModel" [(ngModel)]="input.presentation_mode" value="Oral Presentation" name="options" style="margin-left: 25px;"> 
                          <label for="optionsRadios1" id="myRadiobutton">Oral Presentation</label>
                          <input id="optionsRadios2" #presentationmode="ngModel" [(ngModel)]="input.presentation_mode" type="radio" value="Poster Presentation" name="options" style="margin-left: 25px;">
                          <label for="optionsRadios2" id="myRadiobutton">Poster Presentation</label>
                        </div>  
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Has the abstract/paper been reviewed by the technical reviewers?</label>
                        <div>
                          <input id="optionsRadios1" type="radio" #paperreview="ngModel" [(ngModel)]="input.paper_review" value="yes" name="optionsRadios" style="margin-left: 25px;"> 
                          <label for="optionsRadios1" id="myRadiobutton">Yes</label>
                          <input id="optionsRadios2" #paperreview="ngModel" [(ngModel)]="input.paper_review" type="radio" value="no" name="optionsRadios" style="margin-left: 25px;">
                          <label for="optionsRadios2" id="myRadiobutton">No</label>
                        </div> 
                      </div>
                      <div class="line"></div>                  

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Will the abstract/paper be published in Book of Abstracts/Proceedings/Journals of Conference etc.?</label>
                        <div>
                          <input id="optionsRadios1" type="radio" #paperpublish="ngModel" [(ngModel)]="input.paper_publish" value="Online" name="options1" style="margin-left: 25px;"> 
                          <label for="optionsRadios1" id="myRadiobutton">Online</label>
                          <input id="optionsRadios2" #paperpublish="ngModel" [(ngModel)]="input.paper_publish" type="radio" value="Conference Proceedings" name="options2" style="margin-left: 25px;">
                          <label for="optionsRadios2" id="myRadiobutton">Conference Proceedings</label>
                          <input id="optionsRadios3" #paperpublish="ngModel" [(ngModel)]="input.paper_publish" type="radio" value="Book Chapter" name="options3" style="margin-left: 25px;">
                          <label for="optionsRadios3" id="myRadiobutton">Book Chapter</label>
                          <input id="optionsRadios4" #paperpublish="ngModel" [(ngModel)]="input.paper_publish" type="radio" value="Journal" name="options4" style="margin-left: 25px;">
                          <label for="optionsRadios4" id="myRadiobutton">Journal</label>                          
                        </div>  
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Fifth Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">FINANCIAL ASSISTANCE PROVIDED BY EVENT ORGANIZERS OR OTHER SPONSORS</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" #financialAssistance="ngForm">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Travel Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #travelcost="ngModel" [(ngModel)]="input.travel_cost" name="travelcost" type="text" placeholder="Travel Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="travelcost.touched && !travelcost.valid">Travel Cost is required!</div>                        
                        </div>
                        <label class="col-md-2 form-control-label">Travel Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate"  #travelsponsor="ngModel" [(ngModel)]="input.travel_sponsor" name="travelsponsor" type="text" placeholder="Travel Sponsor" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="travelsponsor.touched && !travelsponsor.valid">Travel Sponsor Name is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Registration Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #registrationcost="ngModel" [(ngModel)]="input.registration_cost" name="registrationcost" type="text" placeholder="Registration Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="registrationcost.touched && !registrationcost.valid">Travel Sponsor Name is required!</div>
                        </div>
                        <label class="col-md-2 form-control-label">Registration Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" #registrationsponsor="ngModel" [(ngModel)]="input.registration_sponsor" name="registrationsponsor" type="text" placeholder="Registration Sponsor" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="registrationsponsor.touched && !registrationsponsor.valid">Sponsor Name is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Accommodation Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #accommodationcost="ngModel" [(ngModel)]="input.accommodation_cost" name="accommodationcost" type="text" placeholder="Accommodation Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="accommodationcost.touched && !accommodationcost.valid">Accommodation Cost is required!</div>
                        </div>
                        <label class="col-md-2 form-control-label">Accommodation Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" #accommodationsponsor="ngModel" [(ngModel)]="input.accommodation_sponsor" name="accommodationsponsor" type="text" placeholder="Accommodation Sponsor" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="accommodationsponsor.touched && !accommodationsponsor.valid">Sponsor Name is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Daily Allowance Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #allowancecost="ngModel" [(ngModel)]="input.daily_allowance_cost" name="allowancecost" type="text" placeholder="Daily Allowance Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="allowancecost.touched && !allowancecost.valid">Allowance Cost is required!</div>
                        </div>
                        <label class="col-md-2 form-control-label">Daily Allowance Sponsor</label>
                        <div class="col-md-4">
                          <input class="validate" #allowancesponsor="ngModel" [(ngModel)]="input.daily_allowance_sponsor" name="allowancesponsor" type="text" placeholder="Daily Allowance Sponsor" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="allowancesponsor.touched && !allowancesponsor.valid">Sponsor Name is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Sixth Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">FINANCIAL ASSISTANCE REQUESTED FROM HEC</h3>
                  </div>
                  <div class="card-body"> 
                    <form class="form-horizontal" #hecAssistance="ngForm">
                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Travel Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #hectravelcost="ngModel" [(ngModel)]="input.hec_travel_cost" name="hectravelcost" type="text" placeholder="Travel Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="hectravelcost.touched && !hectravelcost.valid">Travel Cost is required!</div>
                        </div>
                        <label class="col-md-2 form-control-label">Registration Fee (Rupees)</label>
                        <div class="col-md-4">
                          <input class="validate" #hecregistrationfee="ngModel" [(ngModel)]="input.hec_registration_fee" name="hecregistrationfee" type="text" placeholder="Registration Fee (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="hecregistrationfee.touched && !hecregistrationfee.valid">Registration Fee is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>

                      <div class="form-group row">
                        <label class="col-md-2 form-control-label">Accommodation Cost (Rupees)</label>
                          <div class="col-md-4">
                          <input class="validate" #hecaccommodation="ngModel" [(ngModel)]="input.hec_accommodation" name="hecaccommodation" type="text" placeholder="Accommodation Cost (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="hecaccommodation.touched && !hecaccommodation.valid">Accommodation Cost is required!</div>
                        </div>
                        <label class="col-md-2 form-control-label">Dail Allowance (Rupees)</label>
                        <div class="col-md-4">
                          <input class="validate" #hecallowance="ngModel" [(ngModel)]="input.hec_allowance" name="hecallowance" type="text" placeholder="Daily Allowance (Rupees)" class="form-control" required>
                          <div class="alert alert-danger" *ngIf="hecallowance.touched && !hecallowance.valid">Allowance Cost is required!</div>
                        </div>
                      </div>
                      <div class="line"></div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>


                <!--  Seventh Box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">DETAILS OF PREVIOUSLY AVAILED TRAVEL GRANTS FROM HEC OR OTHERS</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" #previousScholarship="ngForm">
                      <div class="form-group row">
                        <label class="col-md-4 form-control-label">Have you ever been awarded any travel grant from HEC or any other?</label>                                          
                        <div>
                          <input id="optionsRadios1" type="radio" #scholarshipdetails="ngModel" [(ngModel)]="input.scholarship_details" value="yes" name="optionsRadios" style="margin-left: 25px;"> 
                          <label for="optionsRadios1" id="myRadiobutton">Yes</label>
                          <input id="optionsRadios2" #scholarshipdetails="ngModel" [(ngModel)]="input.scholarship_details" type="radio" value="no" name="optionsRadios" style="margin-left: 25px;">
                          <label for="optionsRadios2" id="myRadiobutton">No</label>
                        </div>  
                      </div>
                      <div class="line"></div>

                      <div class="form-group row" *ngIf="hideDetails">
                        <label class="col-md-2 form-control-label">Travel Grant details from where did you got?</label>
                          <div class="col-md-4">
                          <input class="validate" #grantdetail="ngModel" [(ngModel)]="input.travel_grant_details" name="grantdetail" type="textarea" placeholder="Travel Grant details" class="form-control" required>
                       <div class="alert alert-danger" *ngIf="grantdetail.touched && !grantdetail.valid">Travel Grant Detail is required!</div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="line"></div>

                <div class="form-group row">
                    <div class="col-md-12" style="text-align: center;">
                      <button (click)="onSubmit()" type="submit" [disabled]="!hecAssistance.valid" class="btn btn-primary shadow">SUBMIT AND CONTINUE</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
