 <navbar></navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="d-flex align-items-stretch">
      <div id="sidebar" class="sidebar py-3">
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
        <ul class="sidebar-menu list-unstyled">
              <li class="sidebar-list-item"><a routerLink="/admin-paper" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>Paper Presentation</span></a></li>
              <div class="line"></div>
              <li class="sidebar-list-item"><a routerLink="/admin-higher-studies" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>Higher Education</span></a></li>
              <div class="line"></div>
              <li class="sidebar-list-item"><a (click)="logout()" class="sidebar-link text-muted" style="cursor: pointer;"><i class="o-exit-1 mr-3 text-gray"></i><span>Logout</span></a></li>
              <div class="line"></div>
        </ul>
      </div>
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-4">
                <div class="card">
                  <div class="card-header">
                    <h6 class="text-uppercase mb-0">List of Students for Paper Presentations</h6>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover card-text">
                      <thead>
                        <tr>
                          <th>No.</th>
                          <th>Name</th>
                          <th>Travel Purpose</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let list of lists index as i">
                          <th scope="row">{{i+1}}</th>
                          <td>{{list.name}}</td>
                          <td>{{list.presentation_mode}}</td>
                          <td>
                            <a (click)="gotoDetail(i)"><button class="btn"><i class="fa fa-eye"></i></button></a>
                            <!--<button class="btn" style="background-color: red; margin-left: 15px;"><i class="fa fa-trash"></i></button>-->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
