<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">

                <!--  First Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h4 text-uppercase mb-0" id="myHead">For oral presentation of paper in national/international conferences</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-6 form-control-label">Letter of Acceptance/Invitation or email from the organizer in the name of applicant. (if it is not in the name of applicant, please obtain it from the organizer)</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'acceptance_letter')" name="acceptanceletter" type="file" class="form-control" required>
                        </div>
                      </div>
                  <div class="line"></div>                      
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Mode of presentation <b>(oral/poster)</b> has been clearly mentioned (if there is no mention in the letter or email, please obtain such specific email from the organizer)?</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'presentation_mode')" name="presentationmode" type="file" class="form-control" required>
                        </div>
                      </div>
                  <div class="line"></div>                     
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Documentary evidence indicating that your abstract/paper has been accepted based upon <b>peer-review</b> by the technical committee of the event (if there is no mention in the letter or email, please obtain such specific email from the organizer).</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'acceptance_peer_review')" name="evidence" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Documentary evidence indicating that your <b>abstract/paper would be published in Book of Abstracts/Proceedings/Journals etc.</b> (if there is no mention in the letter or email, please obtain such specific email from the organizer).</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'publish_evidence')" name="evidencepublish" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Event’s Brochure containing aims, objectives, themes, organizing committee, scientific committee, keynote speakers and Charges of registration of the event and accommodation etc.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'events_brochure')" name="eventbrochure" type="file" class="form-control" required>
                        </div> 
                      </div>  
                  <div class="line"></div>  
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Full-text paper to be presented</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'full_paper')" name="fulltextpaper" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">In case you are co-author, attach NOC from the principal author.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'author_noc')" name="co-aurthornoc" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Quotation from the travel agent indicating the shortest route.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'travel_agent_quotation')" name="agentquotation" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Brief CV (2-3 pages) indicating your research publications.</label>
                        <div class="col-md-3">
                          <input class="validate" (change)="onFileSelected($event, 'cv')" name="cv" type="file" class="form-control" required>
                        </div>
                      </div>  
                  <div class="line"></div>                                                                                                                                                                          
                    </form>
                  </div>
                </div>
                <div class="line"></div>

 
                <div class="form-group row">
                    <div class="col-md-12" style="text-align: center;">
                      <button (click)="onSubmit()" type="submit" class="btn btn-primary shadow">SUBMIT AND APPLY</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
