<navbar></navbar>
      <div class="form-group row" id="myclass">
          <a (click)="logout()">Log Out</a>
      </div>
      <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-5">

                <!--  First Box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">For oral presentation of paper in national/international conferences</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-md-6 form-control-label">Letter of Acceptance/Invitation or email from the organizer in the name of applicant. (if it is not in the name of applicant, please obtain it from the organizer)</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.acceptance_letter}}" target="_blank">Download Link</a>
                        </div>
                      </div>
                  <div class="line"></div>                      
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Mode of presentation <b>(oral/poster)</b> has been clearly mentioned (if there is no mention in the letter or email, please obtain such specific email from the organizer)?</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.presentation_mode}}" target="_blank">Download Link</a>
                        </div>
                      </div>
                  <div class="line"></div>                     
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Documentary evidence indicating that your abstract/paper has been accepted based upon <b>peer-review</b> by the technical committee of the event (if there is no mention in the letter or email, please obtain such specific email from the organizer).</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.acceptance_peer_review}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Documentary evidence indicating that your <b>abstract/paper would be published in Book of Abstracts/Proceedings/Journals etc.</b> (if there is no mention in the letter or email, please obtain such specific email from the organizer).</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.publish_evidence}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Event’s Brochure containing aims, objectives, themes, organizing committee, scientific committee, keynote speakers and Charges of registration of the event and accommodation etc.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.events_brochure}}" target="_blank">Download Link</a>
                        </div> 
                      </div>  
                  <div class="line"></div>  
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Full-text paper to be presented</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.full_paper}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">In case you are co-author, attach NOC from the principal author.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.author_noc}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Quotation from the travel agent indicating the shortest route.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.travel_agent_quotation}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div> 
                  <div class="form-group row">
                        <label class="col-md-6 form-control-label">Brief CV (2-3 pages) indicating your research publications.</label>
                        <div class="col-md-3">
                          <a class="likeabutton" href="{{formData?.cv}}" target="_blank">Download Link</a>
                        </div>
                      </div>  
                  <div class="line"></div>                                                                                                                                                                          
                    </form>
                  </div>
                </div>
                <div class="line"></div>

 
                <div class="form-group row">
                    <div class="col-md-12"  style="text-align: center;">
                      <button (click)="response()" type="submit" class="btn btn-primary shadow" style="float: right;">Send Response</button>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
